body{
  margin: 30px auto;
}

.container{
  max-width: 400px;
  min-width: 300px;
}

@media (min-width: 300)
  .col-md-3{
    width: 10%;
  }






button{
  border: none;
  background: none;
}


#uparrow, #downarrow, .up, .down{
  width: 80%;
}

.count{
  font-size: 200%;
  float: right;
  margin-top: -46px;
  padding-left: 10px;
}

.title{
  margin-top: 25px;
}
